.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: blueviolet; 
}

header{
    border: solid black;
    padding: 20px;
    grid-area:header;
}

.row{
    content: "";
    display: grid;
    grid-template-areas:
    'sidebar main';
    clear: both;
    grid-template-columns: 30% 70%;
}
h2 >.Contact {
    font-weight: bold;
}
.column{
    grid-area: sidebar;
    background-color: green;
    margin: 10px 60px 10px 80px;
}

.profile_picture img{
    padding: 8px;
    border-radius: 250px;
    align-items: center;
}
.column2{
    float: left;
    padding: 10px;
    grid-area: main;
    background-color: red;
    margin: 10px 20px 10px 10px;
}

.hrule{
    /**font-weight: bold;*/
}






